
<%= link_to "Speak Frehley", root_path, class: "navbar-brand" %>
<div class="jumbotron center">
     <h1>Speak Frehely</h1>
     <p>
       <%= link_to "Log in", "#", class: "btn btn-default btn-lg" %>
       <%= link_to "Sign up", "#", class: "btn btn-primary btn-lg" %>
  </p>    
</div>

